.mainWhatsEveryoneSaying {
    position: relative;
    height: 22vw;
    margin-bottom: 2vw;
    width: 32vw;
}

.title {
    position: relative;
    left: 5.5vw;
    font-size: 2vw;
    font-weight: 700;
    color: cadetblue;
}

.carousel {
    display: flex;
    position: relative;
    top: 3vw;
    left: 23vw;
    overflow: hidden;
    width: 75vw;
}

.carousel-slides {
    margin-left: 1vw;
    margin-right: 1vw;
    min-width: 23vw;
    max-width: 50vw;
    transition: transform 2s ease-in-out;
}

.feedback-details {
    font-size: 1.2vw;
}

.feedback-content {
    font-size: 1.7vw;
    font-weight: 600;
    color: cadetblue;
    text-align: center;
    margin-top: 1vw;
}

.feedback-rating {
    text-align: center;
    font-size: 1.5vw;
    margin-bottom: 0vw;
    color: purple;
    font-weight: 500;
}

.prev {
    position: absolute;
    top: 7vw;
    left: 6vw;
    background-color: transparent;
    border: none;
    font-size: 3vw;
    color: black;
}

.next {
    position: absolute;
    top: 7vw;
    left: 84vw;
    background-color: transparent;
    border: none;
    font-size: 3vw;
    color: black;
}

.disabledArrow {
    color: lightgray;
}

.enabledArrow {
    color: cadetblue;
}