.mainHeader {
    padding: 0.5vw;
    box-shadow: 0vw 0vw 4vw lightblue;
    height: 4vw;
    background-color: #add8e6a6;
    font-weight: 700;
}

.banner {
    display: flex;
    margin-top: 0.5vw;
}

.logo {
    width: 4vw;
    height: 4vw;
    margin-top: -1vw;
}

.header-items {
    background: none;
    outline: none;
    border: none;
    padding-left: 1vw;
    font-weight: 700;
    color: cadetblue;
}

.home {
    color: crimson;
}

.header-items:hover {
    text-decoration: underline;
}

.logout {
    position: absolute;
    right: 5vw;
}

.custom-tooltip {
    position: absolute;
    font-size: 1vw;
    top: 3.5vw;
    left: 72vw;
    color: cadetblue;
    background-color: black;
    padding: 0.4vw;
    border-radius: 3vw;
    padding-left: 0vw;
}

.custom-tooltip::before {
    content: " ";
    top: -2.2vw;
    left: 5vw;
    position: relative;
    border-color: transparent;
    border-style: solid;
    border-width: 0px 5px 5px 5px;
    border-bottom-color: #333;
}

.loginTooltip {
    left: 80vw!important;
}

.loginTooltip::before {
    left: 4vw!important;
}