.mainForgotPassword {
    padding: 1vw;
    font-size: 1.1vw;
    height: 16vw;
    color: cadetblue;
}

.mainForgotPassword-page2 {
    height: 25vw;
}

.title {
    font-size: 1.2vw;
    width: 21vw;
    text-align: center;
    font-weight: 700;
}

.closeBtn {
    width: 2vw;
    height: 2vw;
    text-align: center;
    font-size: 1.5vw;
    position: relative;
    left: 19vw;
    font-weight: 600;
    color: cadetblue;
    border: none;
    background-color: transparent;
    top: -2.1vw;
}

.closeBtn:hover {
    background-color: white;
    box-shadow: 0vw 0.2vw 0.3vw cadetblue;
}

.page-1 {
    position: relative;
    top: 1vw;
}

.mainForgotPassword label {
    margin-right: 2vw;
    font-size: 1.25vw;
    font-weight: 600;
}

.mainForgotPassword input {
    color: cadetblue;
}

.resetPwd {
    position: relative;
    top: 2vw;
    left: 7.5vw;
    border-radius: 3vw;
    background-color: cadetblue;
    border: none;
    color: white;
    width: 6vw;
    height: 3vw;
}

.resetPwd:hover {
    color: cadetblue;
    background-color: white;
    box-shadow: 0.5vw 0.5vw 0.5vw cadetblue;
    border: 0.1vw solid cadetblue;
    font-weight: 700;
}

.page-2 input {
    position: relative;
    left: 2vw;
    top: 0.5vw;
}

.page-2 label.cnewpwd {
    margin-top: 1vw;
}

.page-2 label.newpwd {
    position: relative;
    left: -1.6vw;
}

.page-2 .resetPwd {
    position: absolute;
    top: 21vw;
    left: 8.5vw;
}

.errormsg {
    color: red;
}

.page-2 .errormsg {
    position: relative;
    top: 0.5vw;
}

.disabled {
    pointer-events: none;
}

.enabled {
    pointer-events: all;
    cursor: pointer;
}

.backArrow {
    position: relative;
    top: -4.2vw;
    font-size: 1.5vw;
    cursor: pointer;
}

.pswd-eye {
    top: -1.4vw;
    display: block;
    position: relative;
    left: 13.5vw;
}