<div class="mainForgotPassword" [ngClass]="pwdreset ? 'mainForgotPassword-page2' : ''">
    <div class="title">RESET PASSWORD</div>
    <button class="closeBtn" (click)="close()">X</button>
    <div class="page-1" *ngIf="!pwdreset">
        <label for="uname">Username:</label>
        <input type="text" id="uname" name="unmae" required pattern="^[?.*=0-9]{10}$" [(ngModel)]="uname" #username="ngModel"/>
        <div class="errormsg" *ngIf="username.touched && username.errors?.['required']">Please enter username</div>
        <div class="errormsg" *ngIf="username.errors?.['pattern']">Please enter valid username</div>
        <button type="submit" class="resetPwd" (click)="page2(username.valid)" [disabled]="username.invalid" [ngClass]="username.invalid ? 'disabled' : 'enabled'">Reset</button>
    </div>
    <div class="page-2" *ngIf="pwdreset">
        <i class="bi bi-arrow-left backArrow" (click)="back()"></i>
        <label for="newpwd" class="newpwd">Enter New Password:</label>
        <input [type]="showPassword ? 'text' : 'password'" id="newpwd" name="newpwd" [(ngModel)]="newpwd" required pattern="^(?=.*[a-zA-Z0-9])(?=.*[!@#$%^&*()_+\-=\[\]{};':\\|,.<>\/?]).*$" #newpassword="ngModel"/>
        <i class="pswd-eye" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'" (click)="togglePasswordVisibility()"></i>
        <div class="errormsg" *ngIf="newpassword.touched && newpassword.errors?.['required']">Please enter new password</div>
        <div class="errormsg" *ngIf="newpassword.errors?.['pattern']">Password must have at least 1 small, caps, numbers and special characters.</div>
        
        <label for="cnewpwd" class="cnewpwd">Re-Enter New Password:</label>
        <input [type]="cshowPassword ? 'text' : 'password'" id="cnewpwd" name="cnewpwd" [(ngModel)]="cnewpwd" required #confirmpassword="ngModel"/>
        <i class="pswd-eye" [ngClass]="cshowPassword ? 'bi-eye-slash' : 'bi-eye'" (click)="toggleConfirmPasswordVisibility()"></i>
        <div class="errormsg" *ngIf="confirmpassword.touched && confirmpassword.errors?.['required']">Please re-enter new password</div>
        <div class="errormsg" *ngIf="!confirmpassword.errors?.['required'] && (newpwd != cnewpwd)">Password must match.</div>
        
        <button type="submit" class="resetPwd" (click)="pswdReset(newpassword.valid, confirmpassword.valid)">Submit</button>
    </div>
</div>