.mainFooter {
    position: relative;
    border-top: 0.15vw solid cadetblue;
    padding-top: 1vw;
    padding-bottom: 1vw;
    width: 98.8vw;
    text-align: center;
}

.otherpage-footer {
    bottom: -9vw;
}